* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #333333;
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

.nav-list li a:hover {
  color: #ffcc00;
}
